#aboutMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% 0;
  font-family: "Kanit", sans-serif;
}
#aboutMain h2 {
  width: 80%;
  color: #285480;
  font-size: 42px;
  margin: 0 0 2% 0;
  text-shadow: 0.5px 0.5px 0px #181818;
  text-align: center;
}

#aboutContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#aboutContent #bioContent {
  display: flex;
}
#aboutContent #bioContent p:nth-child(2) {
  margin: 2% 0;
}
#aboutContent #bioContent #aboutText {
  width: 55%;
  margin: 0 20px 0 0;
}
#aboutContent #bioContent #aboutText p {
  font-size: 18px;
  line-height: 30px;
  color: #285480;
  text-shadow: 0.5px 0.5px 0px #181818;
}
#aboutContent #bioContent #aboutText p span {
  font-size: 48px;
}
#aboutContent #bioContent figure {
  width: 45%;
  float: right;
}
#aboutContent #bioContent figure img {
  width: 100%;
  box-shadow: 5px 5px 8px #181818;
}
#aboutContent #bioContent figure figcaption {
  margin: 10px 0 0 20px;
  font-style: italic;
}
#aboutContent #aboutLighting {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutContent #aboutLighting img {
  width: 69%;
  box-shadow: 5px 5px 15px #181818;
  margin: 2%;
}
#aboutContent #aboutLighting #lightingText {
  width: 65%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #285480;
  text-shadow: 0.5px 0.5px 0px #181818;
}
#aboutContent #aboutLighting #lightingText span {
  font-style: italic;
}
#aboutContent #artistStatement {
  width: 85%;
  margin: 4% 0 0 0;
  padding: 40px;
  background-image: linear-gradient(to bottom right, #333, #181818);
  background-image: linear-gradient(to bottom right, #013971, #285480);
  box-shadow: 0 0 0 4px #000;
  border: 4px solid #fff;
  transition: 0.8s;
}
#aboutContent #artistStatement h3 {
  text-align: center;
  color: #285480;
  color: #fff;
  font-size: 38px;
  text-shadow: 2px 2px 2px #000;
  transition: 0.8s;
}
#aboutContent #artistStatement p {
  width: 90%;
  text-align: center;
  color: #fff;
  font-size: 22px;
  line-height: 38px;
  text-shadow: 2px 2px 2px #000;
  transition: 0.8s;
  margin: 3%;
}
#aboutContent #secondImage {
  box-shadow: 5px 5px 8px #181818;
}
#aboutContent #ethos {
  width: 80%;
  margin: 5% 0;
  background-image: linear-gradient(to bottom right, #333, #181818);
  box-shadow: 0 0 0 4px #000;
  border: 4px solid #fff;
  transition: 0.8s;
}
#aboutContent #ethos h3 {
  text-align: center;
  color: #285480;
  color: #fff;
  font-size: 42px;
  margin: 4% 0 0 0;
  text-shadow: 2px 2px 2px #000;
  transition: 0.8s;
}
#aboutContent #ethos p {
  color: #fff;
  padding: 40px;
  font-size: 26px;
  line-height: 48px;
  text-shadow: 2px 2px 2px #000;
  transition: 0.8s;
}
#aboutContent #ethos:hover {
  transform: scale(102%);
  box-shadow: 0 0 20px 5px #000;
}
#aboutContent #ethos:hover h3, #aboutContent #ethos:hover p {
  text-shadow: 0 0 3px #fff;
}

@media screen and (max-width: 1250px) {
  #aboutContent {
    width: 90%;
  }
  #aboutContent #bioContent {
    flex-direction: column;
  }
  #aboutContent #bioContent #aboutText {
    width: 100%;
    order: 2;
  }
  #aboutContent #bioContent figure {
    width: 90%;
    margin: 0 auto 2% auto;
    order: 1;
  }
  #aboutContent #aboutLighting img {
    margin: 4% 0;
    width: 90%;
  }
  #aboutContent #aboutLighting #lightingText {
    width: 100%;
    text-align: left;
  }
  #aboutContent #artistStatement {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  #aboutMain {
    margin: 4% 10px 4% 0;
  }
  #aboutContent #bioContent figure {
    margin: 4% auto 5% auto;
  }
  #artistStatement p {
    margin: 10% 0;
    font-style: italic;
  }
}/*# sourceMappingURL=aboutpage.css.map */