// resumepage
$white : #DFDFDF;
$black: #181818;
$primary: #285480;
$secondary: #01207C;
$textColor: #01207C;

input {
    display: none;
    visibility: hidden;
}

#navHeader {
    box-shadow: 0 5px 50px #fff;
    z-index: 2;
}

#lightingMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 2% auto;
    font-family: 'Kanit', sans-serif;
    // background-color: red;
    z-index: 1;

    // background-color: #fff;
    // border: 10px groove #000;
    // padding: 10px 20px 10px 10px;

    #lightingHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: red;
        // background-color: #fff;
        // border-bottom: 10px groove #000;
        // padding: 10px 20px 10px 10px;

        p {
            width: 72%;
            color: $white;
            font-size: 42px;
            margin: 0 0 2% 0;
            text-align: center;
            text-shadow: 0.5px 0.5px 4px $white;

            position: absolute;
            top: 250px;
            font-weight: bold;
            // text-align: right;
            // font-size: 30px;
            z-index: 2;
        }

        img {
            width: 100%;
            margin: 0 0 2% 0;
            position: relative;
            z-index: 1;
            // box-sizing: border-box;
            // box-shadow: 5px 5px 8px $black;
        }

        // h2 {
        //     width: 50%;
        //     color: $primary;
        //     font-size: 28px;
        //     margin: 0 0 2% 0;
        //     text-align: center;
        //     text-shadow: 0.5px 0.5px 0px $black;
        //     // background-color: purple;
        // }
    }
}

#lightingContent {
    width: 90%;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    flex-direction: column;
    align-items: center;
    // background-color: #fff;
    // border: 10px groove #000;
    // padding: 10px 50px 10px 10px;

    p {
        width: 60%;
        color: $primary;
        font-size: 28px;
        margin: 2% 0;
        text-align: center;
        text-shadow: 0.5px 0.5px 0px $black;
        // background-color: purple;

        background-color: #fff;
        border: 10px groove #000;
        padding: 50px;
        // box-shadow: 5px 5px 8px $black;
    }

    #photos {
        line-height: 0;
        -webkit-column-count: 2;
        -webkit-column-gap:   0px;
        -moz-column-count:    2;
        -moz-column-gap:      0px;
        column-count:         2;
        column-gap:           25px;
    }

    img {
        margin: 25px;
        width: 95% !important;
        height: auto !important;
        box-shadow: 5px 5px 8px $black;
        // border: 10px groove #000;
    }

    // #narrowPhotos {
    //     line-height: 0;
    //     -webkit-column-count: 2;
    //     -webkit-column-gap:   0px;
    //     -moz-column-count:    2;
    //     -moz-column-gap:      0px;
    //     column-count:         2;
    //     column-gap:           25px; 
    // }

    // #widePhotos {
    //     line-height: 0;
    //     -webkit-column-count: 3;
    //     -webkit-column-gap:   0px;
    //     -moz-column-count:    3;
    //     -moz-column-gap:      0px;
    //     column-count:         3;
    //     column-gap:           25px; 
    // }

    // #narrowPhotos img, #widePhotos img {
    //     margin: 25px 0;
    //     width: 95% !important;
    //     height: auto !important;
    //     box-shadow: 5px 5px 8px $black;
    // }

    // img {
    //     width: 55%;
    //     width: 350px;
    //     width: clamp(250px, 80%, 60rem);
    //     margin: 1% 0;
    //     border: 2px solid $black;
    //     box-shadow: 5px 5px 8px $black;
    // }

    
    #input1:empty ~ #img1,
    #input2:empty ~ #img2,
    #input3:empty ~ #img3,
    #input4:empty ~ #img4,
    #input5:empty ~ #img5,
    #input6:empty ~ #img6,
    #input7:empty ~ #img7,
    #input8:empty ~ #img8,
    #input9:empty ~ #img9,
    #input10:empty ~ #img10,
    #input11:empty ~ #img11,
    #input12:empty ~ #img12,
    #input13:empty ~ #img13,
    #input14:empty ~ #img14,
    #input15:empty ~ #img15 {
        padding: unset;
        background-image: unset;
    }

    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26 {
        position: absolute;
        margin: auto;
        padding: 20% 30%;
        background-image: linear-gradient(to right, #ffffff, $white);
        box-sizing: border-box;

        img {
            position: absolute;
            top: 0;
            right: 0;
            width: 10%;
        }
    }

    #input1:checked ~ #img2,
    #input1:checked ~ #img3,
    #input1:checked ~ #img4,
    #input1:checked ~ #img5,
    #input1:checked ~ #img6,
    #input1:checked ~ #img7,
    #input1:checked ~ #img8,
    #input1:checked ~ #img9,
    #input1:checked ~ #img10,
    #input1:checked ~ #img11,
    #input1:checked ~ #img12,
    #input1:checked ~ #img13,
    #input1:checked ~ #img14,
    #input1:checked ~ #img15,
    #input1:checked ~ #img16,
    #input1:checked ~ #img17,
    #input1:checked ~ #img18,
    #input1:checked ~ #img19,
    #input1:checked ~ #img20,
    #input1:checked ~ #img21,
    #input1:checked ~ #img22,
    #input1:checked ~ #img23,
    #input1:checked ~ #img24,
    #input1:checked ~ #img25,
    #input1:checked ~ #img26,

    #input2:checked ~ #img1,
    #input2:checked ~ #img3,
    #input2:checked ~ #img4,
    #input2:checked ~ #img5,
    #input2:checked ~ #img6,
    #input2:checked ~ #img7,
    #input2:checked ~ #img8,
    #input2:checked ~ #img9,
    #input2:checked ~ #img10,
    #input2:checked ~ #img11,
    #input2:checked ~ #img12,
    #input2:checked ~ #img13,
    #input2:checked ~ #img14,
    #input2:checked ~ #img15,
    #input2:checked ~ #img16,
    #input2:checked ~ #img17,
    #input2:checked ~ #img18,
    #input2:checked ~ #img19,
    #input2:checked ~ #img20,
    #input2:checked ~ #img21,
    #input2:checked ~ #img22,
    #input2:checked ~ #img23,
    #input2:checked ~ #img24,
    #input2:checked ~ #img25,
    #input2:checked ~ #img26,
    
    #input3:checked ~ #img1,
    #input3:checked ~ #img2,
    #input3:checked ~ #img4,
    #input3:checked ~ #img5,
    #input3:checked ~ #img6,
    #input3:checked ~ #img7,
    #input3:checked ~ #img8,
    #input3:checked ~ #img9,
    #input3:checked ~ #img10,
    #input3:checked ~ #img11,
    #input3:checked ~ #img12,
    #input3:checked ~ #img13,
    #input3:checked ~ #img14,
    #input3:checked ~ #img15,
    #input3:checked ~ #img16,
    #input3:checked ~ #img17,
    #input3:checked ~ #img18,
    #input3:checked ~ #img19,
    #input3:checked ~ #img20,
    #input3:checked ~ #img21,
    #input3:checked ~ #img22,
    #input3:checked ~ #img23,
    #input3:checked ~ #img24,
    #input3:checked ~ #img25,
    #input3:checked ~ #img26,
    
    #input4:checked ~ #img1,
    #input4:checked ~ #img2,
    #input4:checked ~ #img3,
    #input4:checked ~ #img5,
    #input4:checked ~ #img6,
    #input4:checked ~ #img7,
    #input4:checked ~ #img8,
    #input4:checked ~ #img9,
    #input4:checked ~ #img10,
    #input4:checked ~ #img11,
    #input4:checked ~ #img12,
    #input4:checked ~ #img13,
    #input4:checked ~ #img14,
    #input4:checked ~ #img15,
    #input4:checked ~ #img16,
    #input4:checked ~ #img17,
    #input4:checked ~ #img18,
    #input4:checked ~ #img19,
    #input4:checked ~ #img20,
    #input4:checked ~ #img21,
    #input4:checked ~ #img22,
    #input4:checked ~ #img23,
    #input4:checked ~ #img24,
    #input4:checked ~ #img25,
    #input4:checked ~ #img26,
    
    #input5:checked ~ #img1,
    #input5:checked ~ #img2,
    #input5:checked ~ #img3,
    #input5:checked ~ #img4,
    #input5:checked ~ #img6,
    #input5:checked ~ #img7,
    #input5:checked ~ #img8,
    #input5:checked ~ #img9,
    #input5:checked ~ #img10,
    #input5:checked ~ #img11,
    #input5:checked ~ #img12,
    #input5:checked ~ #img13,
    #input5:checked ~ #img14,
    #input5:checked ~ #img15,
    #input5:checked ~ #img16,
    #input5:checked ~ #img17,
    #input5:checked ~ #img18,
    #input5:checked ~ #img19,
    #input5:checked ~ #img20,
    #input5:checked ~ #img21,
    #input5:checked ~ #img22,
    #input5:checked ~ #img23,
    #input5:checked ~ #img24,
    #input5:checked ~ #img25,
    #input5:checked ~ #img26,
    
    #input6:checked ~ #img1,
    #input6:checked ~ #img2,
    #input6:checked ~ #img3,
    #input6:checked ~ #img4,
    #input6:checked ~ #img5,
    #input6:checked ~ #img7,
    #input6:checked ~ #img8,
    #input6:checked ~ #img9,
    #input6:checked ~ #img10,
    #input6:checked ~ #img11,
    #input6:checked ~ #img12,
    #input6:checked ~ #img13,
    #input6:checked ~ #img14,
    #input6:checked ~ #img15,
    #input6:checked ~ #img16,
    #input6:checked ~ #img17,
    #input6:checked ~ #img18,
    #input6:checked ~ #img19,
    #input6:checked ~ #img20,
    #input6:checked ~ #img21,
    #input6:checked ~ #img22,
    #input6:checked ~ #img23,
    #input6:checked ~ #img24,
    #input6:checked ~ #img25,
    #input6:checked ~ #img26,
    
    #input7:checked ~ #img1,
    #input7:checked ~ #img2,
    #input7:checked ~ #img3,
    #input7:checked ~ #img4,
    #input7:checked ~ #img5,
    #input7:checked ~ #img6,
    #input7:checked ~ #img8,
    #input7:checked ~ #img9,
    #input7:checked ~ #img10,
    #input7:checked ~ #img11,
    #input7:checked ~ #img12,
    #input7:checked ~ #img13,
    #input7:checked ~ #img14,
    #input7:checked ~ #img15,
    #input7:checked ~ #img16,
    #input7:checked ~ #img17,
    #input7:checked ~ #img18,
    #input7:checked ~ #img19,
    #input7:checked ~ #img20,
    #input7:checked ~ #img21,
    #input7:checked ~ #img22,
    #input7:checked ~ #img23,
    #input7:checked ~ #img24,
    #input7:checked ~ #img25,
    #input7:checked ~ #img26,
    
    #input8:checked ~ #img1,
    #input8:checked ~ #img2,
    #input8:checked ~ #img3,
    #input8:checked ~ #img4,
    #input8:checked ~ #img5,
    #input8:checked ~ #img6,
    #input8:checked ~ #img7,
    #input8:checked ~ #img9,
    #input8:checked ~ #img10,
    #input8:checked ~ #img11,
    #input8:checked ~ #img12,
    #input8:checked ~ #img13,
    #input8:checked ~ #img14,
    #input8:checked ~ #img15,
    #input8:checked ~ #img16,
    #input8:checked ~ #img17,
    #input8:checked ~ #img18,
    #input8:checked ~ #img19,
    #input8:checked ~ #img20,
    #input8:checked ~ #img21,
    #input8:checked ~ #img22,
    #input8:checked ~ #img23,
    #input8:checked ~ #img24,
    #input8:checked ~ #img25,
    #input8:checked ~ #img26,
    
    #input9:checked ~ #img1,
    #input9:checked ~ #img2,
    #input9:checked ~ #img3,
    #input9:checked ~ #img4,
    #input9:checked ~ #img5,
    #input9:checked ~ #img6,
    #input9:checked ~ #img7,
    #input9:checked ~ #img8,
    #input9:checked ~ #img10,
    #input9:checked ~ #img11,
    #input9:checked ~ #img12,
    #input9:checked ~ #img13,
    #input9:checked ~ #img14,
    #input9:checked ~ #img15,
    #input9:checked ~ #img16,
    #input9:checked ~ #img17,
    #input9:checked ~ #img18,
    #input9:checked ~ #img19,
    #input9:checked ~ #img20,
    #input9:checked ~ #img21,
    #input9:checked ~ #img22,
    #input9:checked ~ #img23,
    #input9:checked ~ #img24,
    #input9:checked ~ #img25,
    #input9:checked ~ #img26,
    
    #input10:checked ~ #img1,
    #input10:checked ~ #img2,
    #input10:checked ~ #img3,
    #input10:checked ~ #img4,
    #input10:checked ~ #img5,
    #input10:checked ~ #img6,
    #input10:checked ~ #img7,
    #input10:checked ~ #img8,
    #input10:checked ~ #img9,
    #input10:checked ~ #img11,
    #input10:checked ~ #img12,
    #input10:checked ~ #img13,
    #input10:checked ~ #img14,
    #input10:checked ~ #img15,
    #input10:checked ~ #img16,
    #input10:checked ~ #img17,
    #input10:checked ~ #img18,
    #input10:checked ~ #img19,
    #input10:checked ~ #img20,
    #input10:checked ~ #img21,
    #input10:checked ~ #img22,
    #input10:checked ~ #img23,
    #input10:checked ~ #img24,
    #input10:checked ~ #img25,
    #input10:checked ~ #img26,
    
    #input11:checked ~ #img1,
    #input11:checked ~ #img2,
    #input11:checked ~ #img3,
    #input11:checked ~ #img4,
    #input11:checked ~ #img5,
    #input11:checked ~ #img6,
    #input11:checked ~ #img7,
    #input11:checked ~ #img8,
    #input11:checked ~ #img9,
    #input11:checked ~ #img10,
    #input11:checked ~ #img12,
    #input11:checked ~ #img13,
    #input11:checked ~ #img14,
    #input11:checked ~ #img15,
    #input11:checked ~ #img16,
    #input11:checked ~ #img17,
    #input11:checked ~ #img18,
    #input11:checked ~ #img19,
    #input11:checked ~ #img20,
    #input11:checked ~ #img21,
    #input11:checked ~ #img22,
    #input11:checked ~ #img23,
    #input11:checked ~ #img24,
    #input11:checked ~ #img25,
    #input11:checked ~ #img26
    
    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26
    
    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26
    
    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26
    
    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,
    
    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,
    
    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,
    
    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,
    
    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,

    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,

    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,

    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,

    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,

    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input25:checked ~ #img25,
    #input26:checked ~ #img26,

    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input26:checked ~ #img26,

    #input1:checked ~ #img1,
    #input2:checked ~ #img2,
    #input3:checked ~ #img3,
    #input4:checked ~ #img4,
    #input5:checked ~ #img5,
    #input6:checked ~ #img6,
    #input7:checked ~ #img7,
    #input8:checked ~ #img8,
    #input9:checked ~ #img9,
    #input10:checked ~ #img10,
    #input11:checked ~ #img11,
    #input12:checked ~ #img12,
    #input13:checked ~ #img13,
    #input14:checked ~ #img14,
    #input16:checked ~ #img16,
    #input17:checked ~ #img17,
    #input18:checked ~ #img18,
    #input19:checked ~ #img19,
    #input20:checked ~ #img20,
    #input21:checked ~ #img21,
    #input22:checked ~ #img22,
    #input23:checked ~ #img23,
    #input24:checked ~ #img24,
    #input25:checked ~ #img25 {
        display: none;
    }

    label {
        width: 25%;
        // background-image: url(../images/MachmerMedia_MattBishop.jpg);
        // background-size: 100%;
        // border: 2px solid $black;
        // box-shadow: 5px 5px 8px $black;
        transition: 0.8s;
        margin: 1%;
        cursor: pointer;
        // background-color: red;

        height: 40vh;
        flex-grow: 1;

        img {
            width: 100%;
            box-shadow: 5px 5px 8px $black;
            cursor: pointer;

            max-height: 100%;
            min-width: 100%;
            object-fit: contain;
            vertical-align: bottom;
        }
    }
}