input {
  display: none;
  visibility: hidden;
}

#navHeader {
  box-shadow: 0 5px 50px #fff;
  z-index: 2;
}

#lightingMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 2% auto;
  font-family: "Kanit", sans-serif;
  z-index: 1;
}
#lightingMain #lightingHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lightingMain #lightingHeader p {
  width: 72%;
  color: #DFDFDF;
  font-size: 46px;
  margin: 0 0 2% 0;
  text-align: center;
  text-shadow: 0.5px 0.5px 4px #DFDFDF;
  position: absolute;
  top: 235px;
  font-weight: bold;
  z-index: 2;
}
#lightingMain #lightingHeader img {
  width: 100%;
  margin: 0 0 2% 0;
  position: relative;
  z-index: 1;
}

#lightingContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lightingContent p {
  width: 60%;
  color: #285480;
  font-size: 28px;
  margin: 2% 0;
  text-align: center;
  text-shadow: 0.5px 0.5px 0px #181818;
  background-color: #fff;
  border: 10px groove #000;
  padding: 50px;
}
#lightingContent #photos {
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
#lightingContent img {
  margin: 25px;
  width: 95% !important;
  height: auto !important;
  box-shadow: 5px 5px 8px #181818;
}
#lightingContent #input1:empty ~ #img1,
#lightingContent #input2:empty ~ #img2,
#lightingContent #input3:empty ~ #img3,
#lightingContent #input4:empty ~ #img4,
#lightingContent #input5:empty ~ #img5,
#lightingContent #input6:empty ~ #img6,
#lightingContent #input7:empty ~ #img7,
#lightingContent #input8:empty ~ #img8,
#lightingContent #input9:empty ~ #img9,
#lightingContent #input10:empty ~ #img10,
#lightingContent #input11:empty ~ #img11,
#lightingContent #input12:empty ~ #img12,
#lightingContent #input13:empty ~ #img13,
#lightingContent #input14:empty ~ #img14,
#lightingContent #input15:empty ~ #img15 {
  padding: unset;
  background-image: unset;
}
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26 {
  position: absolute;
  margin: auto;
  padding: 20% 30%;
  background-image: linear-gradient(to right, #ffffff, #DFDFDF);
  box-sizing: border-box;
}
#lightingContent #input1:checked ~ #img1 img,
#lightingContent #input2:checked ~ #img2 img,
#lightingContent #input3:checked ~ #img3 img,
#lightingContent #input4:checked ~ #img4 img,
#lightingContent #input5:checked ~ #img5 img,
#lightingContent #input6:checked ~ #img6 img,
#lightingContent #input7:checked ~ #img7 img,
#lightingContent #input8:checked ~ #img8 img,
#lightingContent #input9:checked ~ #img9 img,
#lightingContent #input10:checked ~ #img10 img,
#lightingContent #input11:checked ~ #img11 img,
#lightingContent #input12:checked ~ #img12 img,
#lightingContent #input13:checked ~ #img13 img,
#lightingContent #input14:checked ~ #img14 img,
#lightingContent #input16:checked ~ #img16 img,
#lightingContent #input17:checked ~ #img17 img,
#lightingContent #input18:checked ~ #img18 img,
#lightingContent #input19:checked ~ #img19 img,
#lightingContent #input20:checked ~ #img20 img,
#lightingContent #input21:checked ~ #img21 img,
#lightingContent #input22:checked ~ #img22 img,
#lightingContent #input23:checked ~ #img23 img,
#lightingContent #input24:checked ~ #img24 img,
#lightingContent #input25:checked ~ #img25 img,
#lightingContent #input26:checked ~ #img26 img {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
}
#lightingContent #input1:checked ~ #img2,
#lightingContent #input1:checked ~ #img3,
#lightingContent #input1:checked ~ #img4,
#lightingContent #input1:checked ~ #img5,
#lightingContent #input1:checked ~ #img6,
#lightingContent #input1:checked ~ #img7,
#lightingContent #input1:checked ~ #img8,
#lightingContent #input1:checked ~ #img9,
#lightingContent #input1:checked ~ #img10,
#lightingContent #input1:checked ~ #img11,
#lightingContent #input1:checked ~ #img12,
#lightingContent #input1:checked ~ #img13,
#lightingContent #input1:checked ~ #img14,
#lightingContent #input1:checked ~ #img15,
#lightingContent #input1:checked ~ #img16,
#lightingContent #input1:checked ~ #img17,
#lightingContent #input1:checked ~ #img18,
#lightingContent #input1:checked ~ #img19,
#lightingContent #input1:checked ~ #img20,
#lightingContent #input1:checked ~ #img21,
#lightingContent #input1:checked ~ #img22,
#lightingContent #input1:checked ~ #img23,
#lightingContent #input1:checked ~ #img24,
#lightingContent #input1:checked ~ #img25,
#lightingContent #input1:checked ~ #img26,
#lightingContent #input2:checked ~ #img1,
#lightingContent #input2:checked ~ #img3,
#lightingContent #input2:checked ~ #img4,
#lightingContent #input2:checked ~ #img5,
#lightingContent #input2:checked ~ #img6,
#lightingContent #input2:checked ~ #img7,
#lightingContent #input2:checked ~ #img8,
#lightingContent #input2:checked ~ #img9,
#lightingContent #input2:checked ~ #img10,
#lightingContent #input2:checked ~ #img11,
#lightingContent #input2:checked ~ #img12,
#lightingContent #input2:checked ~ #img13,
#lightingContent #input2:checked ~ #img14,
#lightingContent #input2:checked ~ #img15,
#lightingContent #input2:checked ~ #img16,
#lightingContent #input2:checked ~ #img17,
#lightingContent #input2:checked ~ #img18,
#lightingContent #input2:checked ~ #img19,
#lightingContent #input2:checked ~ #img20,
#lightingContent #input2:checked ~ #img21,
#lightingContent #input2:checked ~ #img22,
#lightingContent #input2:checked ~ #img23,
#lightingContent #input2:checked ~ #img24,
#lightingContent #input2:checked ~ #img25,
#lightingContent #input2:checked ~ #img26,
#lightingContent #input3:checked ~ #img1,
#lightingContent #input3:checked ~ #img2,
#lightingContent #input3:checked ~ #img4,
#lightingContent #input3:checked ~ #img5,
#lightingContent #input3:checked ~ #img6,
#lightingContent #input3:checked ~ #img7,
#lightingContent #input3:checked ~ #img8,
#lightingContent #input3:checked ~ #img9,
#lightingContent #input3:checked ~ #img10,
#lightingContent #input3:checked ~ #img11,
#lightingContent #input3:checked ~ #img12,
#lightingContent #input3:checked ~ #img13,
#lightingContent #input3:checked ~ #img14,
#lightingContent #input3:checked ~ #img15,
#lightingContent #input3:checked ~ #img16,
#lightingContent #input3:checked ~ #img17,
#lightingContent #input3:checked ~ #img18,
#lightingContent #input3:checked ~ #img19,
#lightingContent #input3:checked ~ #img20,
#lightingContent #input3:checked ~ #img21,
#lightingContent #input3:checked ~ #img22,
#lightingContent #input3:checked ~ #img23,
#lightingContent #input3:checked ~ #img24,
#lightingContent #input3:checked ~ #img25,
#lightingContent #input3:checked ~ #img26,
#lightingContent #input4:checked ~ #img1,
#lightingContent #input4:checked ~ #img2,
#lightingContent #input4:checked ~ #img3,
#lightingContent #input4:checked ~ #img5,
#lightingContent #input4:checked ~ #img6,
#lightingContent #input4:checked ~ #img7,
#lightingContent #input4:checked ~ #img8,
#lightingContent #input4:checked ~ #img9,
#lightingContent #input4:checked ~ #img10,
#lightingContent #input4:checked ~ #img11,
#lightingContent #input4:checked ~ #img12,
#lightingContent #input4:checked ~ #img13,
#lightingContent #input4:checked ~ #img14,
#lightingContent #input4:checked ~ #img15,
#lightingContent #input4:checked ~ #img16,
#lightingContent #input4:checked ~ #img17,
#lightingContent #input4:checked ~ #img18,
#lightingContent #input4:checked ~ #img19,
#lightingContent #input4:checked ~ #img20,
#lightingContent #input4:checked ~ #img21,
#lightingContent #input4:checked ~ #img22,
#lightingContent #input4:checked ~ #img23,
#lightingContent #input4:checked ~ #img24,
#lightingContent #input4:checked ~ #img25,
#lightingContent #input4:checked ~ #img26,
#lightingContent #input5:checked ~ #img1,
#lightingContent #input5:checked ~ #img2,
#lightingContent #input5:checked ~ #img3,
#lightingContent #input5:checked ~ #img4,
#lightingContent #input5:checked ~ #img6,
#lightingContent #input5:checked ~ #img7,
#lightingContent #input5:checked ~ #img8,
#lightingContent #input5:checked ~ #img9,
#lightingContent #input5:checked ~ #img10,
#lightingContent #input5:checked ~ #img11,
#lightingContent #input5:checked ~ #img12,
#lightingContent #input5:checked ~ #img13,
#lightingContent #input5:checked ~ #img14,
#lightingContent #input5:checked ~ #img15,
#lightingContent #input5:checked ~ #img16,
#lightingContent #input5:checked ~ #img17,
#lightingContent #input5:checked ~ #img18,
#lightingContent #input5:checked ~ #img19,
#lightingContent #input5:checked ~ #img20,
#lightingContent #input5:checked ~ #img21,
#lightingContent #input5:checked ~ #img22,
#lightingContent #input5:checked ~ #img23,
#lightingContent #input5:checked ~ #img24,
#lightingContent #input5:checked ~ #img25,
#lightingContent #input5:checked ~ #img26,
#lightingContent #input6:checked ~ #img1,
#lightingContent #input6:checked ~ #img2,
#lightingContent #input6:checked ~ #img3,
#lightingContent #input6:checked ~ #img4,
#lightingContent #input6:checked ~ #img5,
#lightingContent #input6:checked ~ #img7,
#lightingContent #input6:checked ~ #img8,
#lightingContent #input6:checked ~ #img9,
#lightingContent #input6:checked ~ #img10,
#lightingContent #input6:checked ~ #img11,
#lightingContent #input6:checked ~ #img12,
#lightingContent #input6:checked ~ #img13,
#lightingContent #input6:checked ~ #img14,
#lightingContent #input6:checked ~ #img15,
#lightingContent #input6:checked ~ #img16,
#lightingContent #input6:checked ~ #img17,
#lightingContent #input6:checked ~ #img18,
#lightingContent #input6:checked ~ #img19,
#lightingContent #input6:checked ~ #img20,
#lightingContent #input6:checked ~ #img21,
#lightingContent #input6:checked ~ #img22,
#lightingContent #input6:checked ~ #img23,
#lightingContent #input6:checked ~ #img24,
#lightingContent #input6:checked ~ #img25,
#lightingContent #input6:checked ~ #img26,
#lightingContent #input7:checked ~ #img1,
#lightingContent #input7:checked ~ #img2,
#lightingContent #input7:checked ~ #img3,
#lightingContent #input7:checked ~ #img4,
#lightingContent #input7:checked ~ #img5,
#lightingContent #input7:checked ~ #img6,
#lightingContent #input7:checked ~ #img8,
#lightingContent #input7:checked ~ #img9,
#lightingContent #input7:checked ~ #img10,
#lightingContent #input7:checked ~ #img11,
#lightingContent #input7:checked ~ #img12,
#lightingContent #input7:checked ~ #img13,
#lightingContent #input7:checked ~ #img14,
#lightingContent #input7:checked ~ #img15,
#lightingContent #input7:checked ~ #img16,
#lightingContent #input7:checked ~ #img17,
#lightingContent #input7:checked ~ #img18,
#lightingContent #input7:checked ~ #img19,
#lightingContent #input7:checked ~ #img20,
#lightingContent #input7:checked ~ #img21,
#lightingContent #input7:checked ~ #img22,
#lightingContent #input7:checked ~ #img23,
#lightingContent #input7:checked ~ #img24,
#lightingContent #input7:checked ~ #img25,
#lightingContent #input7:checked ~ #img26,
#lightingContent #input8:checked ~ #img1,
#lightingContent #input8:checked ~ #img2,
#lightingContent #input8:checked ~ #img3,
#lightingContent #input8:checked ~ #img4,
#lightingContent #input8:checked ~ #img5,
#lightingContent #input8:checked ~ #img6,
#lightingContent #input8:checked ~ #img7,
#lightingContent #input8:checked ~ #img9,
#lightingContent #input8:checked ~ #img10,
#lightingContent #input8:checked ~ #img11,
#lightingContent #input8:checked ~ #img12,
#lightingContent #input8:checked ~ #img13,
#lightingContent #input8:checked ~ #img14,
#lightingContent #input8:checked ~ #img15,
#lightingContent #input8:checked ~ #img16,
#lightingContent #input8:checked ~ #img17,
#lightingContent #input8:checked ~ #img18,
#lightingContent #input8:checked ~ #img19,
#lightingContent #input8:checked ~ #img20,
#lightingContent #input8:checked ~ #img21,
#lightingContent #input8:checked ~ #img22,
#lightingContent #input8:checked ~ #img23,
#lightingContent #input8:checked ~ #img24,
#lightingContent #input8:checked ~ #img25,
#lightingContent #input8:checked ~ #img26,
#lightingContent #input9:checked ~ #img1,
#lightingContent #input9:checked ~ #img2,
#lightingContent #input9:checked ~ #img3,
#lightingContent #input9:checked ~ #img4,
#lightingContent #input9:checked ~ #img5,
#lightingContent #input9:checked ~ #img6,
#lightingContent #input9:checked ~ #img7,
#lightingContent #input9:checked ~ #img8,
#lightingContent #input9:checked ~ #img10,
#lightingContent #input9:checked ~ #img11,
#lightingContent #input9:checked ~ #img12,
#lightingContent #input9:checked ~ #img13,
#lightingContent #input9:checked ~ #img14,
#lightingContent #input9:checked ~ #img15,
#lightingContent #input9:checked ~ #img16,
#lightingContent #input9:checked ~ #img17,
#lightingContent #input9:checked ~ #img18,
#lightingContent #input9:checked ~ #img19,
#lightingContent #input9:checked ~ #img20,
#lightingContent #input9:checked ~ #img21,
#lightingContent #input9:checked ~ #img22,
#lightingContent #input9:checked ~ #img23,
#lightingContent #input9:checked ~ #img24,
#lightingContent #input9:checked ~ #img25,
#lightingContent #input9:checked ~ #img26,
#lightingContent #input10:checked ~ #img1,
#lightingContent #input10:checked ~ #img2,
#lightingContent #input10:checked ~ #img3,
#lightingContent #input10:checked ~ #img4,
#lightingContent #input10:checked ~ #img5,
#lightingContent #input10:checked ~ #img6,
#lightingContent #input10:checked ~ #img7,
#lightingContent #input10:checked ~ #img8,
#lightingContent #input10:checked ~ #img9,
#lightingContent #input10:checked ~ #img11,
#lightingContent #input10:checked ~ #img12,
#lightingContent #input10:checked ~ #img13,
#lightingContent #input10:checked ~ #img14,
#lightingContent #input10:checked ~ #img15,
#lightingContent #input10:checked ~ #img16,
#lightingContent #input10:checked ~ #img17,
#lightingContent #input10:checked ~ #img18,
#lightingContent #input10:checked ~ #img19,
#lightingContent #input10:checked ~ #img20,
#lightingContent #input10:checked ~ #img21,
#lightingContent #input10:checked ~ #img22,
#lightingContent #input10:checked ~ #img23,
#lightingContent #input10:checked ~ #img24,
#lightingContent #input10:checked ~ #img25,
#lightingContent #input10:checked ~ #img26,
#lightingContent #input11:checked ~ #img1,
#lightingContent #input11:checked ~ #img2,
#lightingContent #input11:checked ~ #img3,
#lightingContent #input11:checked ~ #img4,
#lightingContent #input11:checked ~ #img5,
#lightingContent #input11:checked ~ #img6,
#lightingContent #input11:checked ~ #img7,
#lightingContent #input11:checked ~ #img8,
#lightingContent #input11:checked ~ #img9,
#lightingContent #input11:checked ~ #img10,
#lightingContent #input11:checked ~ #img12,
#lightingContent #input11:checked ~ #img13,
#lightingContent #input11:checked ~ #img14,
#lightingContent #input11:checked ~ #img15,
#lightingContent #input11:checked ~ #img16,
#lightingContent #input11:checked ~ #img17,
#lightingContent #input11:checked ~ #img18,
#lightingContent #input11:checked ~ #img19,
#lightingContent #input11:checked ~ #img20,
#lightingContent #input11:checked ~ #img21,
#lightingContent #input11:checked ~ #img22,
#lightingContent #input11:checked ~ #img23,
#lightingContent #input11:checked ~ #img24,
#lightingContent #input11:checked ~ #img25,
#lightingContent #input11:checked ~ #img26 #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26 #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26 #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26 #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input25:checked ~ #img25,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input26:checked ~ #img26,
#lightingContent #input1:checked ~ #img1,
#lightingContent #input2:checked ~ #img2,
#lightingContent #input3:checked ~ #img3,
#lightingContent #input4:checked ~ #img4,
#lightingContent #input5:checked ~ #img5,
#lightingContent #input6:checked ~ #img6,
#lightingContent #input7:checked ~ #img7,
#lightingContent #input8:checked ~ #img8,
#lightingContent #input9:checked ~ #img9,
#lightingContent #input10:checked ~ #img10,
#lightingContent #input11:checked ~ #img11,
#lightingContent #input12:checked ~ #img12,
#lightingContent #input13:checked ~ #img13,
#lightingContent #input14:checked ~ #img14,
#lightingContent #input16:checked ~ #img16,
#lightingContent #input17:checked ~ #img17,
#lightingContent #input18:checked ~ #img18,
#lightingContent #input19:checked ~ #img19,
#lightingContent #input20:checked ~ #img20,
#lightingContent #input21:checked ~ #img21,
#lightingContent #input22:checked ~ #img22,
#lightingContent #input23:checked ~ #img23,
#lightingContent #input24:checked ~ #img24,
#lightingContent #input25:checked ~ #img25 {
  display: none;
}
#lightingContent label {
  width: 25%;
  transition: 0.8s;
  margin: 1%;
  cursor: pointer;
  height: 40vh;
  flex-grow: 1;
}
#lightingContent label img {
  width: 100%;
  box-shadow: 5px 5px 8px #181818;
  cursor: pointer;
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: bottom;
}/*# sourceMappingURL=lightingpage.css.map */