// resumepage
$white : #DFDFDF;
$black: #181818;
$primary: #285480;
$secondary: #01207C;
$textColor: #01207C;

#projectMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
    font-family: 'Kanit', sans-serif;
    // background-color: red;
}

#projectContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    // .divider {
    //     width: 40%;
    //     height: 2px;
    //     margin: 2% 0;
    //     background-color: #000000;
    // }

    .project {
        // width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 2% 0;
        // background-color: #ffffff;
        // padding: 4%;
        // border: 2px solid #000;
        // box-shadow: 5px 5px 8px $black;

        h2 {
            width: 50%;
            color: $primary;
            font-size: 48px;
            text-align: center;
            text-shadow: 0.5px 0.5px 0px $black;
            // background-color: purple;
        }

        video {
            width: 50%;
            // width: 55%;
            // width: 350px;
            // width: clamp(250px, 80%, 60rem);
            margin: 1% 0;
            border: 2px solid $black;
            box-shadow: 5px 5px 8px $black;
        }

        p {
            font-size: 28px;
        }
    }
}