// resumepage
$white : #DFDFDF;
$black: #181818;
$primary: #285480;
$secondary: #01207C;
$textColor: #01207C;

#videoMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
    font-family: 'Kanit', sans-serif;
    // background-color: red;

    // h2 {
    //     width: 50%;
    //     color: $primary;
    //     font-size: 42px;
    //     margin: 0 0 2% 0;
    //     text-align: center;
    //     text-shadow: 0.5px 0.5px 0px $black;
    //     // background-color: purple;
    // }
}

#videoContent {
    // width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .reel {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 2% 0;

        h2 {
            width: 50%;
            color: $primary;
            font-size: 42px;
            // margin: 0 0 2% 0;
            text-align: center;
            text-shadow: 0.5px 0.5px 0px $black;
            }
    }

    video {
        width: 50%;
        // width: 55%;
        // width: 350px;
        // width: clamp(250px, 80%, 60rem);
        // width: 20%;
        margin: 1% 0;
        border: 2px solid $black;
        box-shadow: 5px 5px 8px $black;
    }

}